<p>product-add works!</p>
<h2 mat-dialog-title>Add Product Dialog</h2>
<form action="" #addForm="ngForm" (ngSubmit) = "save(addForm)">
    <mat-dialog-content class="mat-typography">
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Product Name</mat-label>
            <input matInput placeholder="ProductName" name="productName" [(ngModel)] = "product.productName" required minlength="5" maxlength="20" #firstname="ngModel">
            <mat-error *ngIf="productName?.errors && productName?.touched">
                <span *ngIf="productName?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="productName?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Color</mat-label>
            <input matInput placeholder="Color" name="color" [(ngModel)] = "product.color" required minlength="5" maxlength="20" #lastname="ngModel">
            <mat-error *ngIf="color?.errors && color?.touched">
                <span *ngIf="color?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="color?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" name="description" [(ngModel)] = "product.description" required minlength="5" maxlength="20" #lastname="ngModel">
            <mat-error *ngIf="description?.errors && description?.touched">
                <span *ngIf="description?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="description?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>    
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Price" name="price" [(ngModel)] = "product.price" required minlength="5" maxlength="20" #email="ngModel">
            <mat-error *ngIf="price?.errors && email?.touched">
                <span *ngIf="price?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="price?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Discount</mat-label>
            <input matInput placeholder="Discount" name="discount" [(ngModel)] = "product.discount" required minlength="5" maxlength="20" #address="ngModel">
            <mat-error *ngIf="discount?.errors && discount?.touched">
                <span *ngIf="discount?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="discount?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>QuantityPerUnit</mat-label>
            <input matInput placeholder="QuantityPerUnit" name="quantityperunit" [(ngModel)] = "product.quantityperunit" required minlength="5" maxlength="20" #state="ngModel">
            <mat-error *ngIf="quantityperunit?.errors && state?.touched">
                <span *ngIf="quantityperunit?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="quantityperunit?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>UnitInStock</mat-label>
            <input matInput placeholder="UnitInStock" name="unitinstock" [(ngModel)] = "customer.unitInStock" required minlength="5" maxlength="20" #state="ngModel">
            <mat-error *ngIf="unitInStock?.errors && unitInStock?.touched">
                <span *ngIf="unitInStock?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="unitInStock?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Photo</mat-label>
            <input matInput placeholder="Photo" name="photo" [(ngModel)] = "product.photo" required minlength="5" maxlength="20" #state="ngModel">
            <mat-error *ngIf="photo?.errors && photo?.touched">
                <span *ngIf="photo?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="photo?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>CategoryID</mat-label>
            <input matInput placeholder="CategoryID" name="CategoryID" [(ngModel)] = "product.categoryID" required minlength="5" maxlength="20" #state="ngModel">
            <mat-error *ngIf="categoryID?.errors && categoryID?.touched">
                <span *ngIf="categoryID?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="categoryID?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button (click)="close()">Dong</button>
        <button mat-button type="submit">Luu</button>
    </mat-dialog-actions>
</form>
