
<p>product-add works!</p>
<h2 mat-dialog-title>Add OrderDetail Dialog</h2>
<form action="" #addForm="ngForm" (ngSubmit) = "save(addForm)">
    <mat-dialog-content class="mat-typography">
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>ProductID</mat-label>
            <input matInput placeholder="ProductID" name="productID" [(ngModel)] = "orderDetail.productID" required minlength="5" maxlength="20" #firstname="ngModel">
            <mat-error *ngIf="firstname?.errors && firstname?.touched">
                <span *ngIf="firstname?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="firstname?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>OrderID</mat-label>
            <input matInput placeholder="OrderID" name="orderID" [(ngModel)] = "orderDetail.orderID" required minlength="5" maxlength="20" #lastname="ngModel">
            <mat-error *ngIf="lastname?.errors && lastname?.touched">
                <span *ngIf="lastname?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="lastname?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>UnitPrice</mat-label>
            <input matInput placeholder="OrderDate" name="orderDate" [(ngModel)] = "order.orderDate" required minlength="5" maxlength="20" #lastname="ngModel">
            <mat-error *ngIf="lastname?.errors && lastname?.touched">
                <span *ngIf="lastname?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="lastname?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>    
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Quantity</mat-label>
            <input matInput placeholder="ShipDate" name="shipDate" [(ngModel)] = "order.shipDate" required minlength="5" maxlength="20" #email="ngModel">
            <mat-error *ngIf="email?.errors && email?.touched">
                <span *ngIf="email?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="email?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Discount</mat-label>
            <input matInput placeholder="Shipname" name="shipName" [(ngModel)] = "order.shipName" required minlength="5" maxlength="20" #address="ngModel">
            <mat-error *ngIf="address?.errors && address?.touched">
                <span *ngIf="address?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="address?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button (click)="close()">Dong</button>
        <button mat-button type="submit">Luu</button>
    </mat-dialog-actions>
</form>

