<header>
  <div style="background-color: red; padding-bottom: 22px;">
    <a style="margin-left : 200px; margin-right: 100px;"> FPT </a>
    <input placeholder="Nhập tên điện thoại máy tinh, phụ kiện... cần tìm" style="width: 300px; height: 20px;">
    <ul style="display: inline-block;">
      <li style="display: inline-block; margin-left: 10px;"> Thông tin hay</li>
      <li style="display: inline-block; margin-left: 10px;"> Thu hộ điện nước</li>
      <li style="display: inline-block; margin-left: 10px;"> Giỏ hàng</li>
    </ul>
  </div>

  <nav style="padding-left: 200px; color: white; background-color: black; margin-top: -16px; height: 50px;padding-top: 10px;">
    <ul>
      <li style="display: inline-block; margin-left: 30px;"> Điện thoại</li>
      <li style="display: inline-block; margin-left: 30px;"> Laptop</li>
      <li style="display: inline-block; margin-left: 30px;"> Apple</li>
      <li style="display: inline-block; margin-left: 30px;"> Đồng hồ</li>
      <li style="display: inline-block; margin-left: 30px;"> Phụ kiện</li>
      <li style="display: inline-block; margin-left: 30px;"> Máy giá rẻ</li>
      <li style="display: inline-block; margin-left: 30px;"> Tablet</li>
      <li style="display: inline-block; margin-left: 30px;"> Sim & Thẻ</li>
      <li style="display: inline-block; margin-left: 30px;"> Khuyến Mãi</li>
      <li style="display: inline-block; margin-left: 30px;"> Trả góp 0%</li>
    </ul>
  </nav>
</header>

<body>
  <div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="https://fptshop.com.vn/dien-thoai/galaxy-a-series" style="width:100%">
      <div class="text">Caption Text</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="https://fptshop.com.vn/dien-thoai/iphone-xr-64gb" style="width:100%">
      <div class="text">Caption Two</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="https://fptshop.com.vn/dien-thoai/nokia" style="width:100%">
      <div class="text">Caption Three</div>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onClick="plusSlides(-1)">&#10094;</a>
    <a class="next" onClick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

</body>