<p>employee-add works!</p>
<p>product-add works!</p>
<h2 mat-dialog-title>Add Employee Dialog</h2>
<form action="" #addForm="ngForm" (ngSubmit) = "save(addForm)">
    <mat-dialog-content class="mat-typography">
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="LastName" name="productName" [(ngModel)] = "employee.lastName" required minlength="5" maxlength="20" #firstname="ngModel">
            <mat-error *ngIf="firstname?.errors && firstname?.touched">
                <span *ngIf="firstname?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="firstname?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="FirstName" name="color" [(ngModel)] = "employee.FirstName" required minlength="5" maxlength="20" #lastname="ngModel">
            <mat-error *ngIf="lastname?.errors && lastname?.touched">
                <span *ngIf="lastname?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="lastname?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Date Of Birth</mat-label>
            <input matInput placeholder="Date Of Birth" name="description" [(ngModel)] = "employee.dateOfBirth" required minlength="5" maxlength="20" #lastname="ngModel">
            <mat-error *ngIf="lastname?.errors && lastname?.touched">
                <span *ngIf="lastname?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="lastname?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>    
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" name="price" [(ngModel)] = "employee.address" required minlength="5" maxlength="20" #email="ngModel">
            <mat-error *ngIf="email?.errors && email?.touched">
                <span *ngIf="email?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="email?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" name="city" [(ngModel)] = "employee.city" required minlength="5" maxlength="20" #address="ngModel">
            <mat-error *ngIf="address?.errors && address?.touched">
                <span *ngIf="address?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="address?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Country</mat-label>
            <input matInput placeholder="Country" name="country" [(ngModel)] = "employee.country" required minlength="5" maxlength="20" #state="ngModel">
            <mat-error *ngIf="state?.errors && state?.touched">
                <span *ngIf="state?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="state?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Region</mat-label>
            <input matInput placeholder="Region" name="region" [(ngModel)] = "employee.region" required minlength="5" maxlength="20" #state="ngModel">
            <mat-error *ngIf="state?.errors && state?.touched">
                <span *ngIf="state?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="state?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Photo</mat-label>
            <input matInput placeholder="Photo" name="photo" [(ngModel)] = "employee.photo" required minlength="5" maxlength="20" #state="ngModel">
            <mat-error *ngIf="state?.errors && state?.touched">
                <span *ngIf="state?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="state?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Phonenumber</mat-label>
            <input matInput placeholder="Phonenumber" name="phonenumber" [(ngModel)] = "employee.phonenumber" required minlength="5" maxlength="20" #state="ngModel">
            <mat-error *ngIf="state?.errors && state?.touched">
                <span *ngIf="state?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="state?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button (click)="close()">Dong</button>
        <button mat-button type="submit">Luu</button>
    </mat-dialog-actions>
</form>
