<div class="row">
    <div style="border-width: 1px; border-color: black;" class="col-sm-3 bd-item" *ngFor="let product of listProduct}">
        <div style="background-color: white; color:white">
            <span>{{product.Photo}}</span>
        </div>
        <div>
            <div>{{product.Name}}</div>
            <div>{{product.Price}}</div>
        </div>
    </div>
</div>

