<p>product-add works!</p>
<h2 mat-dialog-title>Add Customer Dialog</h2>
<form action="" #addForm="ngForm" (ngSubmit) = "save(addForm)">
    <mat-dialog-content class="mat-typography">
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="FirstName" name="firstName" [(ngModel)] = "customer.firstname" required minlength="5" maxlength="20" #firstname="ngModel">
            <mat-error *ngIf="firstname?.errors && firstname?.touched">
                <span *ngIf="firstname?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="firstname?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="LastName" name="lastName" [(ngModel)] = "customer.lastname" required minlength="5" maxlength="20" #lastname="ngModel">
            <mat-error *ngIf="lastname?.errors && lastname?.touched">
                <span *ngIf="lastname?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="lastname?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" name="phone" [(ngModel)] = "customer.phone" required minlength="5" maxlength="20" #lastname="ngModel">
            <mat-error *ngIf="lastname?.errors && lastname?.touched">
                <span *ngIf="lastname?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="lastname?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>    
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" name="city" [(ngModel)] = "customer.city" required minlength="5" maxlength="20" #email="ngModel">
            <mat-error *ngIf="email?.errors && email?.touched">
                <span *ngIf="email?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="email?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Country</mat-label>
            <input matInput placeholder="Country" name="country" [(ngModel)] = "customer.country" required minlength="5" maxlength="20" #address="ngModel">
            <mat-error *ngIf="address?.errors && address?.touched">
                <span *ngIf="address?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="address?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="legacy" style="display: block;">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Photo" name="photo" [(ngModel)] = "customer.phone" required minlength="5" maxlength="20" #state="ngModel">
            <mat-error *ngIf="state?.errors && state?.touched">
                <span *ngIf="state?.errors?.required">Day la truong bat buoc</span>
                <span *ngIf="state?.errors?.minlength">Do dai ky tu la 5</span>
            </mat-error> 
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button (click)="close()">Dong</button>
        <button mat-button type="submit">Luu</button>
    </mat-dialog-actions>
</form>
